@import "./null.scss";
@import "./mixin.scss";
@import "./wapik_about.scss";
@import "./wapik_pricing.scss";
@import "./wapik_contact.scss";
@import "./wapik_get_starting.scss";

.header {
	background: url('../img/header_bg.png') no-repeat center top  / cover;
	@include adaptive_padding_top(32, 20, 1200);
	height: 100vh;
}
.container {
	max-width: 1090px;
	margin: 0px auto;
	padding: 0px 15px;
}
.header-top__row {
	display: flex;
	@include adaptive_padding_bottom(32, 20, 1200);
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #fff; 
}
.header-top__logo {
	display: flex;
	align-items: center;
}
.header-top__logo_text {
	color: #ffffff;
	font-family: "Proxima Nova";
	@include adaptive_font(46, 30);
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.header-top__logo_text:hover{
	transition: all 0.5s ease 0s;
	color: silver;
}
.header-top__contact {
	color: #ffffff;
	font-family: Montserrat;
	@include adaptive_font(18, 13);
	font-weight: 400;
	@include adaptive_padding_left(72, 30, 1200);
	//background: url('../img/header-icon.png') 50px 0px no-repeat;
}
.header-top__burger {
	display: none;
	z-index: 3;
}
.header-top__menu {}
.header-top__list {
	display: flex;
}
.header-top__list a{
	color: #ffffff;
	font-family: Montserrat;
	@include adaptive_font(18, 11);
	font-weight: 400;
	@include adaptive_padding_right(35, 10, 1200);
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.header-top__list a:hover{
	transition: all 0.5s ease 0s;
	color: silver;
}
.header-top__list a:last-child{
	padding: 0px;
}
.header-bottom__row {
	//@include adaptive_padding_top(213,50,1200);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header-bottom__title {
	color: #ffffff;
	font-family: Roboto;
	@include adaptive_font(38, 25);
	font-weight: 400;
}
.header-bottom__text {
	color: #ffffff;
	font-family: Roboto;
	@include adaptive_font(16, 13);
	font-weight: 400;
	padding: 13px 0px 22px 0px;
	max-width: 500px;
}
.header-bottom__button {}
.header-bottom__button button{
	color: #ffffff;
	font-family: Montserrat;
	@include adaptive_font(18, 13);
	font-weight: 400;
	background: #6fb048;
	padding: 19px 45px;
	@include adaptive_padding_top(19, 10, 1200);
	@include adaptive_padding_bottom(19, 10, 1200);
	@include adaptive_padding_left(45, 20, 1200);
	@include adaptive_padding_right(45, 20, 1200);
	transition: all 0.7s ease 0s;
}
.header-bottom__button button:hover{
	color: #6fb048;
	background: #ffffff;
	transition: all 0.7s ease 0s;
}

.header__body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}




@media (max-width: 820px) {
	body.lock{
		overflow: hidden;
	}
	.header-top__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}
	.header-top__burger:before, .header-top__burger:after, span{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header-top__burger:before{
		top: 0;
	}
	.header-top__burger:after{
		bottom: 0;
	}
	.header-top__burger span{
		top: 9px;
	}
	.header-top__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #2f686a;
		padding: 80px 0px 20px 20px;
		transition: all 0.5s ease 0s;
		overflow: auto;
	}
	.header-top__list {
		display: block;
		z-index: 30;
	}
	.header-top__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header-top__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header-top__burger.active span{
		transform: scale(0);
		transition: all 0.3s ease 0s;
	}
	.header-top__menu.active{
		top: 0;
	}
	.header-top__list p, .header-top__list p:last-child{
		padding: 0px 0px 0px 0px;
		font-size: 20px;
	}
	.header-top__list a {
		font-size: 40px;
	}
	.header-top__links {
		display: none;
	}
}









.features {
	@include adaptive_padding_top(96,40,1200);
	@include adaptive_padding_bottom(187,50,1200);
}
.container {}
.features-title {}
.title {
	text-align: center;
	margin: 0px auto;
}
.title__title {
	color: #0f5f5c;
	font-family: Roboto;
	@include adaptive_font(32,20);
	font-weight: 300;
	@include adaptive_padding_bottom(20,10,1200);
}
.title__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	max-width: 450px;
	margin: 0px auto;
}
.features-row {
	display: flex;
	padding: 69px 0px 0px 0px;
	justify-content: space-between;
}
.features-item {
	text-align: center;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	padding: 0px 10px;
}
.features-item__img {
	flex: 1 1 auto;
}
.features-item__title {
	color: #0f5f5c;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	@include adaptive_padding_top(25,15,1200);
	@include adaptive_padding_bottom(21,13,1200);
}
.features-item__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}



@media (max-width: 900px){
	.features-row{
		flex-wrap: wrap;
		justify-content: center;
		padding: 39px 0px 0px 0px;
	}
	.features-item{
		padding: 30px 0px 0px 0px;
	}
}











.about {
	@include adaptive_padding_bottom(68,30,1200);
}
.container {}
.about__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about__item {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	@include adaptive_padding_top(60,30,1200);
	max-width: 480px;
}
.about__top {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
}
.about__img {
	padding: 0px 22px 0px 0px;
}
.about__item-title {
	color: #0f5f5c;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.about__bottom {}
.about__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	@include adaptive_padding_top(20,10,1200);
}






@media (max-width: 1000px){
	.about__row{
		justify-content: center;
	}
	.about__item{
		flex: 0 0 100%;
	}
}










.looking {
	background: #eef1ec;
	@include adaptive_padding_top(75,30,1200);
}
.container {}
.looking__title {
	padding: 0px 0px 22px 0px;
	color: #0f5f5c;
	font-family: Roboto;
	@include adaptive_font(32,20);
	font-weight: 300;
}
.title {}
.title_title {}
.title_text {}
.looking__row {
	display: flex;
	align-items: center;
}
.looking__img {
	@include adaptive_padding_right(100,0,1200);
}
.looking__item {}
.looking__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	padding: 16px 0px 10px 0px;
}
.looking__menu {}
.looking__list {
	display: flex;
	align-items: center;
	padding: 11px 0px 0px 0px;
}
.looking__list-icon {
	padding: 0px 11px 0px 0px;
}
.looking__list-text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}



@media (max-width: 767px){
	.looking{
		padding-bottom: 10px;
	}
	.looking__row{
		flex-direction: column;
	}
	.looking__img{
		padding: 0px 0px 20px 0px;
	}
	.looking__img img{
		max-width: 100%;
	}
	.looking__item {
		text-align: center;
	}
	.looking__menu {
		text-align: left;
	}
}





.beautiful {
	@include adaptive_padding_top(140,30,1200);
	@include adaptive_padding_bottom(140,30,1200);
}
.container {}
.beautiful__row {
	display: flex;
	align-items: center;
}
.beautiful__item {}
.beautiful__text {
	color: #83a7a5;
	font-family: Merriweather;
	@include adaptive_font(22,15);
	font-weight: 300;
	@include adaptive_line_height(40,20,1200);
	@include adaptive_padding_right(150,0,1200);
}
.beautiful__name {
	color: #6fb048;
	font-family: "Roboto Medium";
	font-weight: 500;
	font-size: 14px;
	padding: 0px 0px 12px 0px;
	@include adaptive_padding_top(27,15,1200);
}
.beautiful__job-title {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
}
.beautiful__img {}






@media (max-width: 767px){
	.beautiful__row{
		flex-direction: column;
	}
	.beautiful__img {
		padding: 20px 0px 0px 0px;
	}
	.beautiful__img img{
		max-width: 100%;
	}
}










.detailes {
	background: #eef1ec;
	@include adaptive_padding_top(60,30,1200);
	@include adaptive_padding_bottom(60,30,1200);
}
.container {}
.detailes__row {
	display: flex;
	align-items: center;
}
.detailes__item {
	@include adaptive_padding_right(70,20,1200);
}
.detailes__title {
	color: #0f5f5c;
	font-family: Roboto;
	@include adaptive_font(32,20);
	font-weight: 300;
	@include adaptive_padding_bottom(16,10,1200);
}
.detailes__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	@include adaptive_line_height(24,18,1200);
}
.detailes__img {}
.detailes__img img{
	max-width: 100%;
}


@media (max-width: 767px){
	.detailes__row{
		flex-direction: column;
	}
	.detailes__img {
		@include adaptive_padding_top(30,10,1200);
	}
}








.price {
	@include adaptive_padding_top(96,30,1200);
	@include adaptive_padding_bottom(78,25,1200);
	
}
.container {}
.price__container {
	max-width: 763px;
	margin: 0px auto;
}
.price-container{
	background-color: #fff;
}
.price__title {}
.title {}
.title_title {}
.title_text {}
.price__row {
	display: flex;
	@include adaptive_padding_top(39,20,1200);
}
.price__item {
	text-align: center;
	border: 1px solid #83a7a5;
	flex: 1 1 auto;
}
.price__item-content{}
.price__item-type {
	color: #6fb048;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 800;
	text-transform: uppercase;
	@include adaptive_padding_top(29,10,1200);
	@include adaptive_padding_bottom(27,10,1200);
}
.price__item-price {
	color: #0f5f5c;
	font-family: Montserrat;
	font-size: 65px;
	font-weight: 400;
}
.price__item-month {
	color: #0f5f5c;	
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
}
.price__item-list p {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	@include adaptive_padding_top(14,10,1200);
	@include adaptive_padding_bottom(14,10,1200);
}
.price__item-button {
	@include adaptive_padding_bottom(31,12,1200);
}
.price__item-button button{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	background: #83a7a5;
	@include adaptive_padding_top(16,8,1200);
	@include adaptive_padding_bottom(16,8,1200);
	@include adaptive_padding_left(25,12,1200);
	@include adaptive_padding_right(25,12,1200);
	transition: all 0.5s ease 0s;
}

.price__item-button button:hover{
	background: #6fb048;
	transition: all 0.5s ease 0s;
}


@media (max-width: 550px){
	.price__row{
		flex-direction: column;
	}
	.price__item{
		padding: 0px 50px;
		margin: 0px auto;
	}
}










.help {
	@include adaptive_padding_bottom(97,30,1200);
}
.container {}
.help__container {
	max-width: 540px;
	margin: 0px auto;
}
.help__row {
	text-align: center;
}
.help__img {}
.help__title {
	color: #6fb048;
	font-family: Roboto;
	@include adaptive_font(32,22);
	font-weight: 300;
	@include adaptive_padding_top(16,10,1200);
}
.help__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	@include adaptive_padding_top(34,15,1200);
	@include adaptive_padding_bottom(37,17,1200);
}
.help__email {
	color: #0f5f5c;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
}











.download {
	background: url('../img/downoald_bg.png') no-repeat center top  / cover;
	@include adaptive_padding_top(75,30,1200);
	@include adaptive_padding_bottom(75,30,1200);
}
.container {}
.download__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.download__item {}
.download__title {
	color: #0f5f5c;
	font-family: Roboto;
	@include adaptive_font(28,18);
	font-weight: 300;
}
.download__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	padding: 6px 0px 0px 0px;
}
.download__button {}
.download__button button{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 13px;	
	font-weight: 400;
	text-transform: uppercase;
	background: #6fb048;
	@include adaptive_padding_top(15,10,1200);
	@include adaptive_padding_bottom(15,10,1200);
	@include adaptive_padding_left(22,12,1200);
	@include adaptive_padding_right(22,12,1200);
	transition: all 0.5s ease 0s;
}
.download__button button:hover{
	color: #6fb048;
	background: #ffffff;
	transition: all 0.5s ease 0s;
}


@media (max-width: 767px){
	.download__row{
		flex-direction: column;
	}
	.download__button {
		padding: 10px 0px 0px 0px;
	}
}








.contact {
	@include adaptive_padding_top(100,30,1200);
	@include adaptive_padding_bottom(56,20,1200);
}
.container {}
.contact__row {
	display: flex;
	justify-content: space-between;
}
.contact__item {}
.contact__item-title {
	color: #0f5f5c;
	font-family: "Proxima Nova";
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}
.contact__item-email {
	color: #0f5f5c;
	font-family: Roboto;	
	font-size: 13px;
	font-weight: 400;
	padding: 18px 0px 0px 0px;
}
.contact__item-number {}
.contact__item-text a, .contact__item-text{
	color: #83a7a5;
	font-family: Roboto;
	font-size: 13px;	
	font-weight: 400;
	@include adaptive_padding_top(20,10,1200);
	transition: all 0.5s ease 0s;
}
.contact__item-text a:hover{
	color: #000000;
	transition: all 0.5s ease 0s;
}
.contact__item-adress {}
.contact__item-subtitle {
	color: #0f5f5c;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 900;
}
.contact__item-link {}
.contact__item-input {
	padding: 20px 0px 0px 0px;
}
.contact__item-input input{
	color: #83a7a5;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	background: #eef1ec;
	@include adaptive_padding_top(12,7,1200);
	@include adaptive_padding_bottom(12,7,1200);
	@include adaptive_padding_left(15,10,1200);
	@include adaptive_padding_right(120,50,1200);
}






@media (max-width: 900px){
	.contact__row{
		flex-wrap: wrap;
	}
	.contact__item{
		padding: 20px 0px 0px 0px;
		flex: 0 0 50%;
		text-align: center;
	}
}


@media (max-width: 767px){
	.contact__row{
		flex-direction: column;
	}
	.contact__item{}
}






.footer {
	padding: 19px 0px 16px 0px;
}
.container {}
.footer__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
}
.footer__links {
	display: flex;
}
.footer__links li{
	padding-right: 10px;
}
.footer__links li:last-child{
	padding-right: 10px;
}




@media (max-width: 400px){
	.footer__row{
		flex-direction: column;
	}
	.footer__links{
		padding: 10px 0px 0px 0px;
	}
}
































