.row-contact iframe{
	display: flex;
	height: 50%;
}

.contact-us {
	@include adaptive_padding_top(77,30,1500);
	@include adaptive_padding_bottom(102,35,1500);
}
.container {}
.contact-us__container {
	max-width: 916px;
	margin: 0px auto;
}
.contact-us__title {
	text-align: center;
}
.title {}
.title_title {}
.title_text {}
.contact-us__row {
	@include adaptive_padding_top(77,30,1500);
	display: flex;
	justify-content: space-between;
}
.contact-us__item-left {}
.contact-us__item-left-item {
	@include adaptive_padding_top(26,17,1500);
}
.contact-us__item-left-item:first-child{
	padding: 0px;
}
.contact-us__item-left-item-input input, .contact-us__item-left-item-textarea textarea {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid #c1d3d2;
	@include adaptive_padding_top(16,10,1500);
	@include adaptive_padding_bottom(17,10,1500);
	@include adaptive_padding_left(20,10,1500);
	//@include adaptive_padding_right(350,150,1500);
	width: 420px;
}
.contact-us__item-left-item-input{}
.contact-us__item-left-item-textarea {}
.contact-us__item-left-item-button {}
.contact-us__item-left-item-button button{
	color: #ffffff;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 400;	
	text-transform: uppercase;
	background: #6fb048;
	@include adaptive_padding_top(16,10,1500);
	@include adaptive_padding_bottom(16,10,1500);
	@include adaptive_padding_left(42,20,1500);
	@include adaptive_padding_right(42,20,1500);	
}
.contact-us__item-right {
	align-self: flex-start; 
	border: 2px dashed #c1d3d2;
	@include adaptive_padding_top(38,20,1500);
	@include adaptive_padding_bottom(56,30,1500);
	@include adaptive_padding_left(41,20,1500);
	@include adaptive_padding_right(130,50,1500);
}
.contact-us__item-right_title {
	color: #0f5f5c;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
}
.contact-us__item-right_row {}
.contact-us__item-right_item {
	display: flex;
	@include adaptive_padding_top(20,10,1500);
}
.contact-us__item-right_item-img {
	padding: 0px 10px 0px 0px;
}
.contact-us__item-right_item-text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	max-width: 145px;
}



@media (max-width: 767px){
	.contact-us__row{
		flex-direction: column;
	}
	.contact-us__item-left{
		order: 2;
		@include adaptive_padding_top(30,20,1500);
		align-self: center;
	}
	.contact-us__item-right{
		order: 1;
		align-self: center;
	}
	.contact-us__item-left-item-input input, .contact-us__item-left-item-textarea textarea {
		width: 270px;
	}
}
