.team {
	@include adaptive_padding_top(77,30,1500);
	@include adaptive_padding_bottom(118,30,1500);
	background: #eef1ec;
}
.container {}
.team__title {}
.title {}
.title_title {}
.title_text {}
.team__row {
	display: flex;
	justify-content: space-between;
	@include adaptive_padding_top(90,25,1500);
}
.team__item {}
.team__item-img {}
.team__item-name {
	color: #0f5f5c;	
	font-family: Roboto;
	font-size: 15px;	
	font-weight: 700;
	@include adaptive_padding_top(17,10,1500);
	@include adaptive_padding_bottom(5,4,1500); 
}
.team__item-job-title {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
}


@media (max-width: 950px){
	.team__row{
		flex-wrap: wrap;
		justify-content: center;
	}
	.team__item{
		@include adaptive_padding_top(10,5,1500);
	}
}