.plans {
	@include adaptive_padding_top(78,30,1200);
	@include adaptive_padding_bottom(58,20,1200);
}
.container {}
.plans_title {
	text-align: center;
}
.title {}
.title_title {}
.plans_row {
	display: flex;
	justify-content: space-between;
	@include adaptive_padding_top(30,10,1200);
}
.plans_item {}
.plans_item_item {
	display: flex;
	align-items: center;
	@include adaptive_padding_top(9,5,1200);
}
.plans_item_item:first-child{
	padding: 0px;
}
.plans_item_img {}
.plans_item_text {
	color: #83a7a5;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	@include adaptive_padding_left(9,5,1200);
}



@media(max-width: 800px){
	.plans_row{
		justify-content: center;
		flex-wrap: wrap;
	}
	.plans_item:first-child {
		@include adaptive_padding_right(25,15,1200);
	}
	.plans_item{
		@include adaptive_padding_top(25,15,1200);	
	}
}

.title__text-bottom{
	text-align: center;
	@include adaptive_padding_top(30,15,1200);
	@include adaptive_padding_bottom(30,15,1200);
}